.dropdowns {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
    background-color: #9146FF;
    padding: 20px;
    box-shadow: 3px 3px 3px blueviolet;
}
