@import 'weather.css';
@import './dropdown.css';


body {
background-color:#2C2F33;

}

div {
  color: #99AAB5;
  font-family: 'Nunito', sans-serif;


}

dialog {
  background-color: #2c2f33;
  box-shadow: 50px 50px 50px #9146FF;
}
