@import 'weather.css';
@import './dropdown.css';
@import 'savedIt.css';

body {
background-color:#2C2F33;

}

div {
  color: #99AAB5;
  font-family: 'Nunito', sans-serif;
  text-align: left;


}

dialog {
  background-color: #2c2f33;
  box-shadow: 50px 50px 50px #9146FF;
  max-width: 80%;
  text-align: center;
}

h1 {
  text-shadow: 1px 1px #99AAB5;
  color: #2C2F33;
}


.button--close, .attractionButton, .parkButton, .eateryButton, .button--save, .button--directions, .button--events {
  background-color: #9146FF;
  border: none;
  color: #2c2f33;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
}

.itContainer {
  display: flex;

}

.itPreview {
  flex-basis: 80%;
}